@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 182, 193, .5), rgba(255, 182, 193, .5)), url(HD\ wallpaper_\ big\ hero\ 6\,\ red\,\ human\ body\ part\,\ human\ hand\,\ copy\ space\,\ studio\ shot.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #ff69b4;
}

.container {
    width: 400px;
    min-height: 400px;
    background: #FFC0CB;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 105, 180, .3);
    padding: 40px 30px;
}

.container-logout {
    width: 500px;
    min-height: 200px;
    background: #FFC0CB;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 105, 180, .3);
    padding: 40px 30px;
}

h1 {
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
    color: #ff69b4;
}

.input-group {
    width: 100%;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    height: 50px;
    border: 2px solid #ffb6c1;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
    color: #ff69b4;
}

.input-group input:focus, .input-group input:valid {
    border-color: #ff69b4;
}

.input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #ff69b4;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.input-group .btn:hover {
    transform: translateY(-5px);
    background: #ff1493;
}

.login-register-text, .login-register-text a {
    color: #ff69b4;
    font-weight: 600;
    text-decoration: none;
}

.login-register-text a {
    color: #ff1493;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
}
